
.top-row{
  display: flex;
  justify-content: space-around;
  gap: 1vw;
}

Button {
  font-size: 10vw;
}
.pause-button {
  background-color: transparent;
  background-image: url("../../assets/img/pause.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80px 80px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80px 80px;
  width: 80px;
  height: 80px;
  min-width: 80px;
  min-width: 80px;
}

.play-button {
  background-color: transparent;
  background-image: url("../../assets/img/play.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80px 80px;
  width: 80px;
  height: 80px;
  min-width: 80px;
  min-width: 80px;
}

p {
  font-size: 8em;
  font-weight: bold;
  margin: -10px;
}

.timer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  height: 100%;
  gap: 3vw;
}

.bottom-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
  width: 100%;
  height: 100px;
  gap: 2vw;
}

.top-row {
  display: flex;
  flex-shrink: 0;
}

.top-row > Button {
  flex-shrink: .5;
  width: 20vw;
  font-size: 1.5em;
}

.skip {
  background-color: transparent;
  background-image: url("../../assets/img/skip.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 800px 80px;
  padding: 0;
  font: inherit;
  cursor: pointer;
  min-width: 8vh;
  width: 80px;
  height: 80px;
  transition: none;
  min-width: 80px;
}

.cycles {
  display: flex;
  justify-content: end;
  align-items: start;
  flex-shrink: 0;
}

.cycles-count {
  font-size: 1.2em;
  color: rgba(153, 153, 153, 1);
}

@media only screen and (max-width: 700px) {
  .timer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .cycles-count {
    font-size: 0em;
  }

  p {
    font-size: 7em;
    font-weight: bold;
    margin: -10px;
  }
}
