.settings-button {
  background-color: transparent;
  background-image: url("../../assets/img/settings.svg");
  background-repeat: no-repeat;
  background-position: center 0%;
  background-size: 9.5vh;
  padding: 0;
  font: inherit;
  cursor: pointer;
  min-width: 90px;
  width: 7vw;
  height: 10vh;
  transition: none;
}

.settings-form {
  border-radius: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

input {
  width: 6vw;
  font-size: large;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid white;
}

label {
  font-family: "Alata", sans-serif;
  padding-right: 2vw;
}

p {
  font-size: small;
}

@media only screen and (max-width: 700px) {
  .settings-form {
    border-radius: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    position: absolute;
    top: 80%;
    left: 30%;
  }

  input {
    width: 18vw;
    font-size: medium;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid white;
  }
}
