.settings {
    background-color: transparent;
    background-image: url("../../assets/settings.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 9.5vh;
	padding: 0;
	font: inherit;
	cursor: pointer;
    min-width: 80px;
    width: auto;
    height: 10vh;
    transition: none;

}

.settings:hover {
    color: transparent;
    border: none;
    outline: none;
    background-color: transparent;

}

.settings:active {
    outline: none;
}




